.app-container {
  display: flex;
  min-height: 90vh;
}

/* Main content */
.main-content {
  flex: 1 1 auto;
  padding: 20px;
  transition: margin-left 500ms cubic-bezier(.2,.9,.2,1);
  margin-left: 0; 
}

/* Push main content based on sidebar state */
.sidebar.expanded ~ .main-content {
  margin-left: 0px;
}

.sidebar.collapsed ~ .main-content {
  margin-left: calc(-1 * (var(--sidebar-width) - var(--icon-size) + 15px));
}
