/* -------------- Structure ----------------- */

.tableCellBody {
  padding: var(--rows-space-between);
  font-size: var(--rows-text-size);
  color: rgba(var(--table-overall-text-color), var(--rows-text-transparency));

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* -------------- Effects ------------------- */

tr.tableBody:hover {
  background: rgba(var(--rows-hover-color),var(--rows-hover-transparency));
  box-shadow: inset 0 0 0 1px rgba(255,180,180,var(--table-overall-lines-transparency));
  cursor: pointer;
}

.rowHighlight {
  animation: highlightRow var(--rows-added-animation-speed) ease-out;
}

@keyframes highlightRow {
  0% {
    background-color: rgba(180, 255, 200, var(--rows-hover-transparency));
  }
  60% {
    background-color: rgba(200, 255, 215, var(--rows-hover-transparency));
  }
  100% {
    background-color: transparent;
  }
}

/* -------------- Selectors ----------------- */

.selectInput {
  background: rgba(var(--rows-selectors-color), var(--rows-selectors-transparency));
  border: 1px solid rgba(var(--table-overall-lines-color), var(--table-overall-lines-transparency));
  border-radius: var(--rows-selectors-corner-radius);
  padding: var(--rows-selectors-height) var(--rows-selectors-text-left-space);

  font-size: var(--rows-selectors-text-size);
  color: rgba(var(--table-overall-text-color), var(--rows-selectors-text-transparency));

  box-shadow: inset 0 2px 2px rgba(var(--table-overall-lines-color), var(--table-overall-lines-transparency));
}

.selectInput option {
  color: rgba(var(--table-overall-text-color), 1);
  background-color: rgba(var(--table-overall-bg-color), var(--table-overall-bg-transparency));
}
