/* -------------- Sidebar Button ------------ */

.sidebar-ghost {
  position: absolute;
  left: calc(var(--sidebar-width) / 2 - var(--icon-size) / 2 - 10px);
  z-index: 150;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform var(--animation-duration) cubic-bezier(0.2, 0.9, 0.2, 1),
    left var(--animation-duration) cubic-bezier(0.2, 0.9, 0.2, 1),
    top var(--animation-duration) cubic-bezier(0.2, 0.9, 0.2, 1),
    width var(--animation-duration) ease,
    height var(--animation-duration) ease;
}

.sidebar-ghost img {
  width: var(--icon-size);
  height: var(--icon-size);
  pointer-events: none;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  transition:
    transform var(--animation-duration) cubic-bezier(0.2, 0.9, 0.2, 1),
    width var(--animation-duration) ease,
    height var(--animation-duration) ease,
    filter var(--animation-duration) ease;
}

.sidebar-ghost.collapsed {
  left: calc(-1.5 * var(--icon-size) / 2 + 10px);
  top: calc(-1.5 * var(--icon-size) / 2 + 15px);
  transform: scale(1.35);
}

.sidebar-ghost.expanded {
  left: calc(var(--sidebar-width) / 2 - var(--icon-size) / 2 + 9px);
  top: var(--icon-y);
  transform: scale(1.1);
}

.sidebar-ghost.collapsed:hover {
  transform: scale(1.55);
  filter: brightness(1.4);
}

.sidebar-ghost.expanded:hover {
  transform: scale(0.95);
  filter: brightness(1.4);
}
