:root {
  --content-column-width-free-space: 24px;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  flex: 1;
  padding: var(--content-column-width-free-space);
  overflow: auto;
  background-color: transparent;
}

.content-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 0;

  transition: margin-left 500ms cubic-bezier(.2,.9,.2,1);
  margin-left: 0;
}

.sidebar.collapsed ~ .content-column {
  margin-left: calc(-1 * (var(--sidebar-width) + 2 * var(--sidebar-padding)));
}

.sidebar.expanded ~ .content-column {
  margin-left: 0;
}