/* -------------- Main Wrapper -------------- */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: rgba(34, 35, 39);
  background-image: url('/assets/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
